{%load static%}
<!doctype html>
<html>
<head>
	<title>Contact Me</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/awesome.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/dist/css/bootstrap.css' %}">
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
  		<div>
  			<ul class="awesome">
				<li><a href="/polls/pizza">Home</a></li>
				<li><a href="/polls/burger">Robots</a></li>
				<li><a href="/polls/hotdog">Contact Me</a></li>
			</ul>
  		</div>
	</nav>
	<h2 id="Contact">Contact Me</h2><br>
	<ul id="bazinga">
		<li><input type="text" class="form-control" placeholder="Your Name"></li><br>
		<li><textarea class="form-control" rows="3">Your Text</textarea></li>
	</ul>
</body>
</html>