{%load static%}
<!doctype html>
<html>
<head>
	<title>Robots</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/awesome.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/dist/css/bootstrap.css' %}">
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
  		<div>
  			<ul class="awesome">
				<li><a href="/polls/pizza">Home</a></li>
				<li><a href="/polls/burger">Robots</a></li>
				<li><a href="/polls/hotdog">Contact Me</a></li>
			</ul>
  		</div>
	</nav>
</body>
</html>